button {
  background-color: #ABABB2;
  color: #fff;
  padding: 3px 10px;
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  margin-right: 15px;
  padding: 4px 10px;
  font-size: 14px;
}

button.active {
  background-color: #720909;
}

button:hover {
  background-color: #720909;
}