body {
  font-family: 'akzidenz-grotesk_bqregular','Helvetica', 'Arial ',sans-serif;
}

.wrap {
  width: 1024px !important;
  margin: 100px auto 0;
}

.container {
  float: left;
  width: 100%;
}
#navigation {
  float: left;
}

p { 
  float: right;
  margin: 11px 6px 0 0; 
  font-size: 13px;
}

h2 {
  font-family: 'akzidenz-grotesk_bq_light_sRg';
  font-size: 45px;
  margin: 30px 0 0 0;
  font-weight: 100;
  color: #000;
}

.cell {
  display: flex;
  position: absolute;
  overflow: hidden;
  align-items: flex-end;
  background: #fff;
  font: 10px normal 'akzidenz-grotesk_bqregular';
  color: #fff;
  font-weight: 100;
  line-height: 12px;
  text-indent: 4px;
}

