.cell {
/*   border: solid 0px black; */
  font: 10px Helvetica, sans-serif;
  color:black;
  font-weight: bold;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 4px;
  
  opacity: 0.6;
  
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

